<!-- Topbar -->
<nav class="navbar navbar-expand topbar mb-4 static-top float-right m-2">

    <div class="dropdown show">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Setting
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Update Profile</a>
            <a class="dropdown-item" href="#">Change Password</a>
            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
        </div>
    </div>
</nav>